p {
  text-align: justify;
  font-size: 200%;
}

html * {
  font-size: 16px;
  color: black;
  font-family: Nunito, sans-serif;
}

.about {
  font-size: 200%;
  color: blue;
}

.title {
  text-align: center;
  font-size: 300%;
  -webkit-text-stroke-color: red;
  stroke-width: 10;
}

.square {
  width: 520px;
  background-color: coral;
}
